<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <system.serviceModel>
        <bindings>
            <customBinding>
                <binding name="NetHttpsBinding_IImport">
                    <binaryMessageEncoding />
                    <httpsTransport authenticationScheme="Negotiate" />
                </binding>
                <binding name="NetHttpBinding_IImport">
                    <binaryMessageEncoding />
                    <httpTransport  maxBufferPoolSize="1024000000" maxBufferSize ="1024000000" maxReceivedMessageSize ="1024000000"/>
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="https://192.168.100.1:44399/Import" binding="customBinding"
                bindingConfiguration="NetHttpsBinding_IImport" contract="ServiceReference.IImport"
                name="NetHttpsBinding_IImport">
                <identity>
                    <userPrincipalName value="bs_dnpi-HP\bs_dnpi" />
                </identity>
            </endpoint>
            <endpoint address="http://192.168.100.1:8010/Import" binding="customBinding"
                bindingConfiguration="NetHttpBinding_IImport" contract="ServiceReference.IImport"
                name="NetHttpBinding_IImport" />
        </client>
    </system.serviceModel>
</configuration>